<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="push.aptara.UnZipPlugin"
      version="0.1.0">
    <name>UnZipPlugin</name>
    <description>ToUpper plugin for Apache Cordova</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/UnZipPlugin.js" name="UnZipPlugin">
        <clobbers target="UnZipPlugin" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="UnZipPlugin">
                <param name="wp-package" value="UnZipPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/wp/UnZipPlugin.cs" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/UnZipPluginProxy.js" name="UnZipPluginProxy">
            <merges target="" />
        </js-module>
    </platform>

</plugin>
